openapi: 3.0.1
info:
  contact:
    email: dev@lab5e.com
    name: Lab5e AS
    url: https://lab5e.com
  description: "API for device, collection, output and firmware management"
  title: The Span API
  version: 4.8.0 indecipherable-ferman
servers:
- url: https://api.lab5e.com
security:
- APIToken: []
tags:
- name: Span
paths:
  /span/collections:
    get:
      description: |-
        Lists all the collections that one of your teams owns. The collections
        returned includes only the data on the collection and not the summary
        information
      operationId: ListCollections
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCollectionResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List collections
      tags:
      - collections
    post:
      description: Create a new collection
      operationId: CreateCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCollectionRequest'
        description: |-
          Request object when creating a collection. The collect ID is assigned by the
          service.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Create collection
      tags:
      - collections
      x-codegen-request-body-name: body
  /span/collections/{collectionId}:
    delete:
      description: |-
        Remove the collection. Devices, firmware images, outputs and all other
        related resources must be removed from the collection before it can be
        deleted.
      operationId: DeleteCollection
      parameters:
      - description: The ID of the collection you want to delete
        in: path
        name: collectionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete collection
      tags:
      - collections
    get:
      description: |-
        Retrieve collection information. This includes a list of the most recent
        messages in the inbox. The upstream and downstream parameters are optional
        and if set to true will include the timestamps for up to 100 messages up-
        and downstream for the last hour.
      operationId: RetrieveCollection
      parameters:
      - description: The collection ID of the collection you are requesting
        in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: query
        name: upstream
        schema:
          type: boolean
      - in: query
        name: downstream
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Retrieve collection
      tags:
      - collections
    patch:
      description: Update a collection.
      operationId: UpdateCollection
      parameters:
      - description: The ID of the collection. This is assigned by the backend.
        in: path
        name: collectionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCollectionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Update collection
      tags:
      - collections
      x-codegen-request-body-name: body
  /span/collections/{collectionId}/blobs:
    get:
      description: |-
        Retrieve a list of all the blobs stored on this collection. Blobs are
        uploaded by the devices through one of the blob endpoints.
      operationId: ListBlobs
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: query
        name: limit
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBlobResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List the blobs for a collection
      tags:
      - blobs
  /span/collections/{collectionId}/blobs/{blobId}:
    delete:
      description: Remove a blob stored on the collection.
      operationId: DeleteBlob
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: blobId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBlobResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Remove a blob stored on a collection
      tags:
      - blobs
  /span/collections/{collectionId}/certificates:
    get:
      description: |-
        Get the certificate chain for the root CA and intermediate certificates
        used by the device, gateway and server certificates. It is highly
        recommended to verify the server certificate when sending data to avoid any
        man-in-the-middle attacks. This chain will contain all required
        certificates needed to verify the client certificate.
      operationId: RetrieveCertificateChain
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: query
        name: gatewayId
        schema:
          type: string
      - in: query
        name: deviceId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateChainResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get certificate chain
      tags:
      - certificates
  /span/collections/{collectionId}/certificates/create:
    post:
      description: |-
        Create a new device or gateway (client) certificate for an
        internet-connected device. The devices will use this client certificate to
        authenticate when sending data via the Internet endpoint. This will create
        a X509 client certificate with an ECC public key. The key is not stored by
        the service so keep it in a secure place once it is downloaded. The
        returned certificate will be valid for 14 days. The key for
        the certificate is your own responsibility. The client certificate is used
        in both the TLS, DTLS and gRPC service endpoints.
      operationId: CreateCertificate
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCertificateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCertificateResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Create certificate
      tags:
      - certificates
      x-codegen-request-body-name: body
  /span/collections/{collectionId}/certificates/sign:
    post:
      description: |-
        Sign a device or gateway (aka client) certificate. The certificate is a
        X509 Certificate signing request PEM encoded. The certificate will be valid
        for 14 days and must be renewed.
      operationId: SignCertificate
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignCertificateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignCertificateResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Sign certificate
      tags:
      - certificates
      x-codegen-request-body-name: body
  /span/collections/{collectionId}/certificates/verify:
    post:
      description: |-
        Verify client certificate. If a client certificate fails it can be tricky
        to pinpoint exactly *why* the certificate isn't accepted. This resource
        validates the client certificate and returns the error in plain text.
      operationId: VerifyCertificate
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyCertificateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyCertificateResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Verify certificate
      tags:
      - certificates
      x-codegen-request-body-name: body
  /span/collections/{collectionId}/data:
    get:
      description: |-
        Retrieve data sent by the devices in the collection. The maximum number of
        data points is 100.
      operationId: ListCollectionData
      parameters:
      - description: The collection ID requested. This is included in the request
          path.
        in: path
        name: collectionId
        required: true
        schema:
          type: string
      - description: Limit the number of payloads to return. The default is 512.
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: |-
          Start of time range. The default is 24 hours ago. Value is in milliseconds
          since epoch.
        in: query
        name: start
        schema:
          format: int64
          type: string
      - description: |-
          End of time range. The default is the current time stamp. Value is in
          milliseconds since epoch.
        in: query
        name: end
        schema:
          format: int64
          type: string
      - description: |-
          The message offset based on the message ID. This parameter can't be
          combined with the start and end parameters. If no parameter is set the
          first N messages will be returned. If this parameter is set the next N
          messages (from newest to oldest) with message ID less than the offset
          will be returned.
        in: query
        name: offset
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDataResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Retrieve data from devices
      tags:
      - collections
  /span/collections/{collectionId}/devices:
    get:
      operationId: ListDevices
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDevicesResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List devices in collection.
      tags:
      - devices
    post:
      operationId: CreateDevice
      parameters:
      - description: This is the containing collection
        in: path
        name: collectionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDeviceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Create device
      tags:
      - devices
      x-codegen-request-body-name: body
  /span/collections/{collectionId}/devices/{deviceId}:
    delete:
      operationId: DeleteDevice
      parameters:
      - description: This is the containing collection
        in: path
        name: collectionId
        required: true
        schema:
          type: string
      - description: The device ID is assigned by the backend.
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Remove device.
      tags:
      - devices
    get:
      operationId: RetrieveDevice
      parameters:
      - description: This is the containing collection
        in: path
        name: collectionId
        required: true
        schema:
          type: string
      - description: The device identifier
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Retrieve device
      tags:
      - devices
  /span/collections/{collectionId}/devices/{deviceId}/certs:
    get:
      operationId: DeviceCertificate
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceCertificateResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get issued certificate(s) for device
      tags:
      - devices
  /span/collections/{collectionId}/devices/{deviceId}/data:
    get:
      description: |-
        List the data received from the device. Use the query parameters to control
        what data you retrieve. The maximum number of data points is 100.
      operationId: ListDeviceData
      parameters:
      - description: The collection ID. This is included in the request path.
        in: path
        name: collectionId
        required: true
        schema:
          type: string
      - description: The device ID. This is included in the request path.
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      - description: Limit the number of payloads to return. The default is 512.
        in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: |-
          Start of time range. The default is 24 hours ago. Value is in milliseconds
          since epoch.
        in: query
        name: start
        schema:
          format: int64
          type: string
      - description: |-
          End of time range. The default is the current time stamp. Value is in
          milliseconds since epoch.
        in: query
        name: end
        schema:
          format: int64
          type: string
      - description: |-
          The message offset based on the message ID. This parameter can't be
          combined with the start and end parameters. If no parameter is set the
          first N messages will be returned. If this parameter is set the next N
          messages (from newest to oldest) with message ID less than the offset
          will be returned.
        in: query
        name: offset
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDataResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Retrieve data from device
      tags:
      - devices
  /span/collections/{collectionId}/devices/{deviceId}/fwerror:
    delete:
      operationId: ClearFirmwareError
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClearFirmwareErrorResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Clear FOTA error
      tags:
      - fota
  /span/collections/{collectionId}/devices/{deviceId}/inbox:
    get:
      description: |-
        Retrieve a list of incoming (ie upstream) messages, ie messages sent from
        the device to the service. These messages are buffered in the service until
        they expire.

        Use the query parameters to limit the number of messages to return. If no
        limit is specified the default limit of 250 is used.
      operationId: ListUpstreamMessages
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      - in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: |-
          Start of time range. The default is 24 hours ago. Value is in milliseconds
          since epoch.
        in: query
        name: start
        schema:
          format: int64
          type: string
      - description: |-
          End of time range. The default is the current time stamp. Value is in
          milliseconds since epoch.
        in: query
        name: end
        schema:
          format: int64
          type: string
      - description: |-
          The message offset based on the message ID. This parameter can't be
          combined with the start and end parameters. If no parameter is set the
          first N messages will be returned. If this parameter is set the next N
          messages (from newest to oldest) with message ID less than the offset
          will be returned.
        in: query
        name: offset
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUpstreamMessagesResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List incoming messages
      tags:
      - devices
  /span/collections/{collectionId}/devices/{deviceId}/outbox:
    get:
      description: |-
        List messages that should be sent to the device when it connects to the
        service. The messages are sent to the device when it connects to the
        service and either sends a message (via UDP or CoAP) or requests a message
        via CoAP GET request.option
      operationId: ListDownstreamMessages
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      - in: query
        name: limit
        schema:
          format: int32
          type: integer
      - description: |-
          Start of time range. The default is 24 hours ago. Value is in milliseconds
          since epoch.
        in: query
        name: start
        schema:
          format: int64
          type: string
      - description: |-
          End of time range. The default is the current time stamp. Value is in
          milliseconds since epoch.
        in: query
        name: end
        schema:
          format: int64
          type: string
      - description: |-
          The message offset based on the message ID. This parameter can't be
          combined with the start and end parameters. If no parameter is set the
          first N messages will be returned. If this parameter is set the next N
          messages (from newest to oldest) with message ID less than the offset
          will be returned.
        in: query
        name: offset
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDownstreamMessagesResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List the messages in the outbox
      tags:
      - devices
    post:
      description: |-
        Add a new message in the outgoing queue to the device. If there is other
        messages in the outbox these messages will be sent first.
      operationId: AddDownstreamMessage
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddDownstreamMessageRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageDownstream'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Add message to oubox
      tags:
      - devices
      x-codegen-request-body-name: body
  /span/collections/{collectionId}/devices/{deviceId}/outbox/{messageId}:
    delete:
      description: Delete an outgoing (ie downstream) message from the outbox.
      operationId: DeleteDownstreamMessage
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      - in: path
        name: messageId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDownstreamMessageResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete outgoing message
      tags:
      - devices
  /span/collections/{collectionId}/devices/{deviceId}/stats:
    get:
      operationId: RetrieveDeviceStats
      parameters:
      - description: This is the containing collection
        in: path
        name: collectionId
        required: true
        schema:
          type: string
      - description: The device identifier
        in: path
        name: deviceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceStats'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Retrieve device statistics
      tags:
      - devices
  /span/collections/{collectionId}/firmware:
    get:
      operationId: ListFirmware
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFirmwareResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List firmware
      tags:
      - fota
    post:
      description: |-
        Firmware images must have unique version numbers and have an unique
        checksum. The checksum is calculated when the firmware image is uploaded.
      operationId: CreateFirmware
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFirmwareRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Firmware'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Create firmware
      tags:
      - fota
      x-codegen-request-body-name: body
  /span/collections/{collectionId}/firmware/{imageId}:
    delete:
      operationId: DeleteFirmware
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: imageId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Firmware'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete firmware
      tags:
      - fota
    get:
      operationId: RetrieveFirmware
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: imageId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Firmware'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Retrieve firmware
      tags:
      - fota
  /span/collections/{collectionId}/firmware/{imageId}/stats:
    get:
      operationId: RetrieveFirmwareStats
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: imageId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareStats'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Retrieve firmware statistics
      tags:
      - fota
  /span/collections/{collectionId}/firmware/{imageId}/usage:
    get:
      operationId: FirmwareUsage
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: imageId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirmwareUsageResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Firmware usage
      tags:
      - fota
  /span/collections/{collectionId}/gateways:
    get:
      description: "List the user's gatways, including built-in gateways."
      operationId: ListGateways
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListGatewayResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List gateways
      tags:
      - gateways
    post:
      description: Create a new gateway.
      operationId: CreateGateway
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGateway_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Create gateway
      tags:
      - gateways
      x-codegen-request-body-name: body
  /span/collections/{collectionId}/gateways/{gatewayId}:
    delete:
      description: Remove a gateway from Span.
      operationId: DeleteGateway
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: gatewayId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete gateway
      tags:
      - gateways
    get:
      description: Get gateway information
      operationId: RetrieveGateway
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: gatewayId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Retrieve gateway
      tags:
      - gateways
  /span/collections/{collectionId}/gateways/{gatewayId}/certs:
    get:
      operationId: GatewayCertificates
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: gatewayId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayCertificateResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get issued certificate(s) for gateway
      tags:
      - gateways
  /span/collections/{collectionId}/gateways/{gatewayId}/stats:
    get:
      description: Get statistics for gateway
      operationId: RetrieveGatewayStats
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: gatewayId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayStats'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Retrieve gateway statistics
      tags:
      - gateways
  /span/collections/{collectionId}/outputs:
    get:
      operationId: ListOutputs
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOutputResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List outputs
      tags:
      - outputs
    post:
      operationId: CreateOutput
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOutputRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Output'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Create output
      tags:
      - outputs
      x-codegen-request-body-name: body
  /span/collections/{collectionId}/outputs/{outputId}:
    delete:
      operationId: DeleteOutput
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: outputId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Output'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete output
      tags:
      - outputs
    get:
      operationId: RetrieveOutput
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: outputId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Output'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Retrieve output
      tags:
      - outputs
  /span/collections/{collectionId}/outputs/{outputId}/logs:
    get:
      operationId: Logs
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: outputId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputLogResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Output logs
      tags:
      - outputs
  /span/collections/{collectionId}/outputs/{outputId}/stats:
    get:
      operationId: RetrieveOutputStats
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: outputId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputStats'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Retrieve output statistics
      tags:
      - outputs
  /span/collections/{collectionId}/outputs/{outputId}/status:
    get:
      operationId: Status
      parameters:
      - in: path
        name: collectionId
        required: true
        schema:
          type: string
      - in: path
        name: outputId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputStatusResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Output status
      tags:
      - outputs
  /span/collections/{collectionId}/stats:
    get:
      description: |-
        Retrieve statistics for the collection. This is the aggregated metrics for
        devices, outputs, firmware images, blobs and gateways in the collection
      operationId: RetrieveCollectionStats
      parameters:
      - description: The collection ID of the collection you are requesting
        in: path
        name: collectionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionStats'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Retrieve collection statistics
      tags:
      - collections
  /span/collections/{existingCollectionId}/devices/{deviceId}:
    patch:
      description: |-
        The device can be moved from one collection to another by setting the
        collection ID field to the new collection. You must have administrative
        access to both collections. A note on gateway configurations: Empty gateway
        configuration blocks are deleted. If the configuration block contains a
        gateway ID it will be updated  with the new values. All values must be
        submitted in the request.
        If a device is moved out of the collection and it references a gateway in
        the configuration the operation will fail. Devices that are moved from one
        collection to another and references gateway configurations must be updated
        before they are moved.
      operationId: UpdateDevice
      parameters:
      - in: path
        name: existingCollectionId
        required: true
        schema:
          type: string
      - in: path
        name: deviceId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeviceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Update device
      tags:
      - devices
      x-codegen-request-body-name: body
  /span/collections/{existingCollectionId}/firmware/{imageId}:
    patch:
      description: |-
        Only the version and tags fields can be updated. The other fields will be
        ignored.
      operationId: UpdateFirmware
      parameters:
      - in: path
        name: existingCollectionId
        required: true
        schema:
          type: string
      - in: path
        name: imageId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFirmwareRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Firmware'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Update firmware
      tags:
      - fota
      x-codegen-request-body-name: body
  /span/collections/{existingCollectionId}/gateways/{gatewayId}:
    patch:
      description: |-
        Update configuration for a gateway. If you want to remove or move a gateway
        from the collection the devices in the collection must not have any gateway
        configuration. The certificates for the gateway are unchanged when the
        gateway is moved.
      operationId: UpdateGateway
      parameters:
      - in: path
        name: existingCollectionId
        required: true
        schema:
          type: string
      - in: path
        name: gatewayId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGateway_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Gateway'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Update gateway
      tags:
      - gateways
      x-codegen-request-body-name: body
  /span/collections/{existingCollectionId}/outputs/{outputId}:
    patch:
      operationId: UpdateOutput
      parameters:
      - in: path
        name: existingCollectionId
        required: true
        schema:
          type: string
      - in: path
        name: outputId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOutputRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Output'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Update output
      tags:
      - outputs
      x-codegen-request-body-name: body
  /span/system:
    get:
      description: |-
        Get system information. This will show the current version of the API that
        you are using.
      operationId: GetSystemInfo
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SystemInfoResponse'
          description: A successful response.
        "201":
          content:
            application/json:
              schema:
                type: object
          description: It's created.
        "400":
          content:
            application/json:
              schema:
                type: object
          description: The request has an error.
        "401":
          content:
            application/json:
              schema:
                type: object
          description: You can't touch this
        "404":
          content:
            application/json:
              schema:
                type: object
          description: Couldn't find the resource.
        "409":
          content:
            application/json:
              schema:
                type: object
          description: There's a resource conflict here.
        "500":
          content:
            application/json:
              schema:
                type: object
          description: I'm sorry. We are broken
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: System information
      tags:
      - Span
components:
  schemas:
    Any:
      additionalProperties:
        type: object
      properties:
        '@type':
          type: string
      type: object
    Blob:
      description: |-
        This is a blob (binary large object) that the devices might upload to the
        service. This is messages that are typically too large to handle like regular
        status and sensor values, typically media files. The content type might be
        derived from the first few bytes of the blob and could possibly be incorrect.

        Download the blob by accessing the blob URL field. This will work like a
        regular HTTP request for your client. Authentication is required as always.
      example:
        size: size
        created: created
        blobId: blobId
        blobPath: blobPath
        contentType: contentType
        collectionId: collectionId
        deviceId: deviceId
        gatewayId: gatewayId
        properties:
          key: properties
      properties:
        blobId:
          type: string
        blobPath:
          type: string
        contentType:
          type: string
        size:
          format: int64
          type: string
        created:
          format: int64
          type: string
        collectionId:
          type: string
        deviceId:
          type: string
        gatewayId:
          type: string
        properties:
          additionalProperties:
            type: string
          type: object
      type: object
    BlobStats:
      description: Statistics for a single blob
      example:
        blobBytesMb: 2.302136
      properties:
        blobBytesMb:
          format: float
          type: number
      title: BlobStats
      type: object
    CellularIoTConfig:
[...]
